<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @hostels.each do |hostel| %>


<!--    <div class="col">-->
<!--      <div class="card">-->

        <%#= image_tag "#{hostel.img}", alt: "mess image", class: "w-200 h-150" %>
<!--        <div class="card-body">-->
<!--          <h5 class="card-title"><%#= hostel.title.capitalize %></h5>-->
<!--          <p>by @<%#= hostel.user.username %></p>-->
<!--          <p class="card-text"><%#= hostel.desc %></p>-->

          <%#= link_to "View details", hostel_path(hostel), class: "btn btn-outline-primary" %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <!--          <img src="..." class="img-fluid rounded-start" alt="...">-->
          <%= image_tag "#{hostel.img}", alt: "mess image" ,class: "img-fluid rounded-start" %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= hostel.title.capitalize %></h5>
            <p class="card-text"><small class="text-body-secondary">by @<%= hostel.user.username %></small></p>
            <p class="card-text"><%= hostel.desc %>.</p>
            <%= link_to "View details", hostel_path(hostel), class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
</div>